nhập thư viện pandas để xử lý tập dataset

In [317]:
import pandas as pd

lấy table là đối tượng đọc của file dataset

In [318]:
table = pd.read_csv('Iris.csv')

ta dùng head để xem được 5 dòng đầu tiên của dataset sau khi đã nhập qua pandas, bên cạnh đó dùng display để được hiển thị đẹp hơn

In [319]:
display(table.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

mọi thứ bây giờ trông đã ngon lành cành đào, bây giờ ta xác định đầu vào và đầu ra của data này, ta thấy được tập X sẽ bao gồm tất cả các thông số *X = (SepalLengthCm; SepalWidthCm; PetalLengthCm; PetalWidthCm)*, từ những thông số này mới suy ra loại cây, vậy nghiễm nhiên tập Y sẽ là *Y=(Species)*.

ta sẽ tiến hành tách tập đầu vào X bằng lệnh *Drop* như sau:

In [320]:
X = table.drop('Species', axis=1)

trong đoạn này:
*   *drop* là *"thả toàn bộ vào biến **ngoại trừ** ..."*.
*   *axis* ở đây là cách mà python hiểu với **hàng** là *axis = 0* và **cột** là *axis = 1*

In [321]:
display(X.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

Với tập đầu ra Y, ta chỉ cần gọi phần tử Species và điền thẳng vào Y là xong bởi Y chỉ cần 1 cột duy nhất:

In [322]:
Y = table['Species']
display(Y.head())

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

vấn đề bây giờ của Y là Y đang chứa các object ở dạng xâu, mà máy thì chỉ làm việc với số nên ta cần phải mã hoá các loại nhãn khác nhau có trong Y tuỳ theo phương thức encode ta có thể chọn, nhưng trong mô hình này, Nayn sẽ sử dụng kiểu mã hoá nhãn (đưa các nhãn về các con số khác nhau)

ta sẽ sử dụng encoder của thư viện sklearn.preprocessing

In [323]:
from sklearn.preprocessing import LabelEncoder
Y = LabelEncoder().fit_transform(Y)
display(Y)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

ta thấy sklearn đã phân loại cho ta 3 loài hoa theo chỉ số 0, 1, 2, để cho gọn thì ta sẽ tạm thời hiển thị 5 đối tượng đầu tiên tương ứng với 5 hàng của X.head() trước đó

In [324]:
for i in range(5):
  print(Y[i])

0
0
0
0
0

bây giờ ta sẽ chia data set này thành 2 phần riêng biệt, 1 là train_set và 1 là test_set với tỷ lệ 8/2 (120 train/30 test)

In [325]:
X_train=X[:120]
X_test=X[120:]
Y_train=Y[:120]
Y_test=Y[120:]

trước khi thực sự áp dụng dataset vào 1 mô hình học, ta phải đi thêm 1 bước chuẩn hoá dữ liệu, Nayn sẽ chọn phương thức chuẩn hoá standard của thư viện sklearn.preproessing

In [326]:
from sklearn.preprocessing import StandardScaler
rule=StandardScaler()
x_scaled_train=rule.fit_transform(X_train)
x_scaled_test=rule.transform(X_test)
print(x_scaled_test[:5])

[[ 1.74654521  1.62526347  0.29130095  1.39813192  1.85115694]
 [ 1.77541373 -0.06839786 -0.57181298  0.92668596  1.42560362]
 [ 1.80428224  2.6675166  -0.57181298  1.98743937  1.42560362]
 [ 1.83315076  0.84357362 -0.78759146  0.92668596  1.14190141]
 [ 1.86201927  1.36470019  0.50707944  1.39813192  1.56745473]]

ở đây, ta để biến rule giống như 1 thước đo lưu, nó sẽ học và lưu ngay với fit(học) và transform(thay đổi), với việc lưu rule từ tập train, nó sẽ chỉ cần áp dụng vào tập test mà không cần học với chỉ 1 mình transform

bây giờ ta sẽ gọi các mô hình đề bài vô (ở đây Nayn sẽ dùng logistic regression thay cho linear regression):

In [327]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

gọi các công cụ đánh giá

In [328]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

đưa các model vào dict để dễ kiểm soát và gọi tên

In [329]:
models = {
  "Logistic Regression": LogisticRegression(),
  "Decision Tree": DecisionTreeClassifier(random_state=42),
  "Random Forest": RandomForestClassifier(random_state=42),
  "SVM": SVC(),
  "KNN": KNeighborsClassifier(n_neighbors=5)
}

tạo 1 list để chuẩn bị lưu kết quả

In [330]:
ket_qua = []

bắt đầu cho chạy học các model:

In [331]:
for name, model in models.items():
  model.fit(x_scaled_train, Y_train)
  y_pred = model.predict(x_scaled_test)
  acc = accuracy_score(Y_test, y_pred)
  prec = precision_score(Y_test, y_pred, average='macro')
  rec = recall_score(Y_test, y_pred, average='macro')
  f1 = f1_score(Y_test, y_pred, average='macro')
  ket_qua.append({
      "Model": name,
      "Accuracy": acc,
      "Precision": prec,
      "Recall": rec,
      "F1-Score": f1
  })

mọi thứ đã hoàn thành, giờ đây, ta chỉ cần chuyển ket_qua về dạng dataframe là đã có kết quả

In [332]:
df_ket_qua = pd.DataFrame(ket_qua)
df_ket_qua = df_ket_qua.sort_values(by='F1-Score', ascending=False)
print(df_ket_qua)

                 Model  Accuracy  Precision  Recall  F1-Score
0  Logistic Regression       1.0        1.0     1.0       1.0
1        Decision Tree       1.0        1.0     1.0       1.0
2        Random Forest       1.0        1.0     1.0       1.0
3                  SVM       1.0        1.0     1.0       1.0
4                  KNN       1.0        1.0     1.0       1.0

bởi dữ liệu này quá dễ đối với các model hiện nay nên tỷ đoán chuẩn là 100%